[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

beautifulsoup4="*"
Django="*"
django-heroku="*"
django-toolbelt="*"
gunicorn="*"
requests="*"
whitenoise="*"

[requires]
python_version = "3.8.3"
