certifi==2020.4.5.2
chardet==3.0.4
beautifulsoup4==4.9.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.7
django-heroku==0.3.1
django-toolbelt==0.0.1
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.18.1
idna==2.9
isodate==0.6.0
psycopg2==2.8.5
pytz==2020.1
requests==2.23.0
six==1.15.0
South==1.0.2
sqlparse==0.3.1
static3==0.7.0
urllib3==1.25.9
whitenoise==5.1.0
