{% load static %}

<header class="header_container fixed-top">
    <div class="container d-flex">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="logo mr-auto">
                    <a href="{{ request.get_host }}">Manipulation de l'API Youtube.</a>
                </div>

                <div class="choose d-none d-lg-block">
                    <a href="{{ request.get_host }}donate" target="_blank" class="donate">
                        Nous soutenir
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="header fixed-top">       
    <div class="branding docs-branding">
        <div class="container-fluid position-relative py-2">
            <div class="docs-logo-wrapper">
                <div class="site-logo">
                    <a class="navbar-brand" href="/">
                        <span class="logo-text">
                            unsta<span class="text-alt">YouTube</span>
                        </span>
                    </a>
                </div>    
            </div><!-- end logo-wrapper-->

            <div class="docs-top-utilities d-flex justify-content-end align-items-center">
                <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
                    {% include "layouts/rs.html" %}
                </ul><!--end social-list link -->

                <a href="{{ request.get_host }}/donate" target="_blank" class="btn btn-primary d-none d-lg-flex">Nous soutenir
                </a>
            </div>
        </div><!--endcontainer-->
    </div><!-- endbranding-->
</header>
