<!DOCTYPE html>
<html lang="fr">
{% spaceless %}
    {% load static %}{% get_static_prefix as STATIC_PREFIX %}
    <head>
        {% include 'layouts/meta.html' %}
        <!-- core CSS -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_PREFIX }}css/custom.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>
            {% if request.GET.q %}
                {{ request.GET.q }}
            {% endif %}
                {{ site_name }} &smid; {{ site_description }}
        </title>
    </head>

    <body class="d-flex flex-column">
        <div class="flex-grow-1 flex-shrink-0">
            {% include "layouts/menu.html" %}

            {% block content %}
                {% include "layouts/content.html" %}
            {% endblock content %}
            
        </div>

        <!-- start footer -->
        <footer class="footer flex-shrink-0">
            <div class="container py-3 text-center">
                <p class="text-monospace font-weight-bold text-uppercase mb-0">&copy;<script>document.write(new Date().getFullYear());</script> kozondjango &mdash; développé par <a href="https://www.facebook.com/flavien.hugs" target="_blank" title="@flavien-hugs"> flavien-hugs </a> de unsta inc &mdash; V0.0.1
                </p>
            </div>
        </footer><!--./end footer -->

        <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
{% endspaceless %}
</html>
